nav{
  min-width:100vw;
  display:flex;
  position:absolute;
  top:0;
  left:0;
}
.navlinks{
  display:flex;
  justify-content: end;
}
.navitem{
  margin-top:50px;
  margin-right: 80px;
  padding:10px;
  border-radius:10px 10px 10px 10px;
}
.navitem:focus{
  background-color: azure;
}
body{
  background-color: black;
}