nav {
  background-color: #333;
  width:100vw;
  position:absolute;
  top:0;
  left:0;
  display:flex;
}
nav.right{
  position:relative;
  justify-content: end;
  margin-top:10px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin:25px;
  text-align:right;
}
nav.right a:hover {
  text-decoration: underline;
  background-color: #f4f4f4;
  padding:10px;
  }
h1 {
  font-size: 36px;
  color: #222;
}